@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge {
    display: inline-flex;
    align-items: center;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-radius: 9999px;
    font-weight: 500;
  }
}
